  * {
    box-sizing: border-box;
  }

  .cv {
    width: 100%;
    max-width: 1440px;
    padding: 40px 100px 40px;
    margin: 0 auto;

    background-color: white;
  }

  .cv__row {
    display: flex;
    margin: 0 -64px;
    margin-bottom: 64px;
  }

  .cv__row:last-child {
    margin-bottom: 0;
  }

  .cv__row-column {
    flex: 0 0 50%;
    padding: 0 64px;
  }

  body {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 23px;
    font-style: normal;
  }

  h1 {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    width: 520px;
    height: 44px;
    line-height: 1;
  }

  h2 {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }

  h3 {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1%;
  }

  .line2 {
    position: relative;
    top: -80px;
    left: 240px;
    overflow: visible;
  }
